# backend/.gitignore

# --- Python ve Sanal Ortam ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# --- Hassas Bilgiler (KRİTİK!!!) ---
.env

# --- Database ---
*.db
*.sqlite3
*.sql
*.dump

# --- Projeye Özel Medya ve Çıktılar ---
uploads/
# YOLO modelinin çalışma anında oluşturduğu geçici dosyalar veya loglar
runs/
*.log

# --- Yapay Zeka Modelleri ---
ml_models/*.pt
best.pt
last.pt

# --- Editör ve Sistem Dosyaları ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Test ve Raporlama ---
.pytest_cache/
.coverage
htmlcov/